.shippingChart{
    margin: 0 auto;
    border:1px solid rgb(243, 111, 33);
    padding: 35px;
    max-width: 50%;
    border-radius: 12px;
}
.checkOutBtn{
    padding: 12px 30px;
    border: 0;
    color: white;
    background-color:rgb(243, 111, 33);
    margin-top: 15px ;
}

@media only screen and (max-width: 600px){
    .shippingChart{
        max-width: 100%;
    }
}